@model IEnumerable<JimenaCelaya_Examen3.Models.Pais>

@{
    ViewData["Title"] = "Países";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Registrar Nuevo País</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre del País</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.IDPais</td>
                <td>@item.NombrePais</td>
                <td>
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.IDPais">Detalles</a>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.IDPais">Editar</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IDPais">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
